.mainContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.listItem {
  background-color: #f0f2f5;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;
  border: 2px solid black;
  border-radius: 10px;
}

.listItem:hover {
  transform: scale(1.05);
}
